<% if user_signed_in? %>
 <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
<h1>Welcom to the Instagram Sample App</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Potepancamp</a>
  instagram sample application.
</p>
<%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %> 
