<h1>プロフィール編集 </h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource, object: f.object %>
  
  <div class="field">
  <%= f.label :fullname,"フルネーム" %><br />
  <%= f.text_field :fullname, autofocus: true %>
  </div>
  
  <div class="field">
  <%= f.label :username,"ユーザーネーム" %><br />
  <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email,"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password,"パスワード" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,"パスワード確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  
  <div class="form-group">
    <%= f.label :url, "ウェブサイト" %><br />
    <%= f.text_field :url, class: "form-control" %>
  </div>
   
  <div class="form-group">
    <%= f.label :introduction, "自己紹介" %><br />
    <%= f.text_area :introduction, class: "form-control"%>
  </div>
   
  <div class="field">
    <%= f.label :phonenumber, "電話番号" %><br />
    <%= f.text_field :phonenumber %>
  </div>
   
  <div class="form-group">
      <%= f.label :sex, "性別" %><br />
      <%= f.radio_button :sex, :Men %>
      <%= f.label :sex, "男性" %><br />
      <%= f.radio_button :sex, :Women %>
      <%= f.label :sex, "女性" %><br />
  </div>

  <div class="field">
    <%= f.label :current_password,"現在のパスワード" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "変更を保存する" %>
  </div>
<% end %>

<h3>アカウント削除</h3>

<p>アカウントを削除しますか? <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウントを削除します。よろしいですか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>
