<ul class="users">
<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.username, user %>
  <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>
</ul>