<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render '/shared/error_messages', object: f.object %>
      
      
      <%= f.label :fullname %>
      <%= f.text_field :fullname, class: 'form-control' %>
      
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <div class="form-group">
      <%= f.label :url, "URL" %><br />
      <%= f.text_field :url, class: "form-control" %>
      </div>
   
      <div class="form-group">
      <%= f.label :introduction, "自己紹介" %><br />
      <%= f.text_area :introduction, class: "form-control"%>
      </div>
   
      <div class="form-group">
      <%= f.label :phonenumber, "電話番号" %><br />
      <%= f.text_field :phonenumber, class: "form-control" %>
      </div>
   
      <div class="form-group">
      <%= f.label :sex, "性別" %><br />
      <%= f.radio_button :sex, :Men %>
      <%= f.label :sex, "男性" %><br />
      <%= f.radio_button :sex, :Women %>
      <%= f.label :sex, "女性" %><br />
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="nooperner">change</a>
    </div>
  </div>
</div>