<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.username, micropost.user %></span> <!-- emailをnameに変える -->
  <span class="content">
    <a href="/microposts/<%= micropost.id %>"><%= image_tag micropost.picture.url if micropost.picture? %></a>
    <a href="/microposts/<%= micropost.id %>"><%= micropost.content %></a>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user == micropost.user %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>