
<h1>投稿作成</h1>
<% if user_signed_in? %>
  <h2>投稿する</h2>
  <div class= "create-post">
  <section class="micropost_form">
    <%= render 'shared/micropost_form' %>
  </section>
  </div>

<% else %>
  <%= link_to "ユーザー登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
