
<h1>投稿詳細ページ</h1>
<h3><%= @micropost.user.username %></h3>
<h3><%= @micropost.content %></h3><br>
<h3><%= image_tag @micropost.picture.url if @micropost.picture? %></h3>
<%= link_to "ホームへ戻る", root_path %>