<footer class="footer">  
  <small>
    The <a href="https://railstutorial.jp/">Instagram sample app</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Upload Pictures", microposts_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>