<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Instagram sample app", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ホーム", root_path %></li>
            <% if user_signed_in? %>
             <li><%= link_to "ユーザー一覧", users_path %></li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 アカウント設定 <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                 <li><%= link_to "ユーザープロフィール", current_user %></li>
                 <li><%= link_to "ユーザー情報詳細設定", edit_user_registration_path(current_user) %></li>
                 <li class="divider"></li>
                 <li>
                   <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                 </li>
               </ul>
             </li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
</header>